.status-panel-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.status-panel-filter button {
    font-size: 12pt;
    color: #4d00b1;
    border: 1px solid #4d00b1;
    border-radius: 3px;
}

.status-panel-filter button:hover {
    background-color: #4d00b1;
    border-color: #FFF;
    outline: none;
    color: #FFF;
    cursor: pointer;
}
