.box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr repeat(3, 50px);
    grid-column-gap: 10px;
}

.box.important {
    color: #33aa33;
    font-weight: bold;
}

.box-text {
    font-size: 14pt;
    cursor: pointer;
}

.done .box-text {
    text-decoration: line-through;
}

.box button {
    font-size: 14pt;
    color: #4d00b1;
    border: 1px solid #4d00b1;
    border-radius: 3px;
    max-height: 33px;
}

.box.important button:nth-child(3) {
    background-color: #4d00b1;
    border-color: #FFF;
    outline: none;
    color: #FFF;
    cursor: pointer;
}

.box button:hover {
    outline: none !important;
    box-shadow: 0 0 5px #4d00b1;
}