.todo-list-item-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
}

.todo-list-item-control button {
    font-size: 12pt;
    color: #4d00b1;
    border: 1px solid #4d00b1;
    border-radius: 3px;
    max-height: 25px;
}

.todo-list-item-control button:hover {
    background-color: #4d00b1;
    border-color: #FFF;
    outline: none;
    color: #FFF;
    cursor: pointer;
}