.search-panel {
    display: grid;
    max-width: 800px;
}

.search-panel-input {
  box-sizing: border-box;
  border: 1px solid #4d00b1;
  border-radius: 4px;
  color: #4d00b1;
  background-color: #EFEFEF;
  font-size: 16pt;
  padding: 5px;
}

.search-panel-input:focus {
    background-color: #FFF;
    outline: none !important;
    box-shadow: 0 0 5px #4d00b1;
}

.search-panel-input:hover {
    outline: none !important;
    box-shadow: 0 0 5px #4d00b1;
}

.search-panel-input::placeholder {
    color: #4d00b1;
    opacity: 1;
    font-size: 12pt;
}