.todo-list {
    display: grid;
    max-width: 800px;
    width: 100%;
    grid-auto-columns: minmax(300px, auto);
    list-style-type: none;
    padding: 10px 5px;
}


.todo-list .todo-list-item {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #4d00b1;
    border-radius: 3px;
    display: grid;
}

.todo-list .todo-list-item:hover {
    outline: none !important;
    box-shadow: 0 0 5px #4d00b1;
}