.search-panel {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.search-panel-input {
  box-sizing: border-box;
  border: 1px solid #4d00b1;
  border-radius: 4px;
  color: #4d00b1;
  background-color: #EFEFEF;
  font-size: 12pt;
  padding: 5px;
}

.search-panel-input:focus {
    background-color: #FFF;
    outline: none !important;
    box-shadow: 0 0 5px #4d00b1;
}

.search-panel-input::placeholder {
    color: #4d00b1;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .search-panel {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}
