.todo-list {
    display: grid;
    max-width: 800px;
    grid-auto-columns: minmax(320px, auto);
    list-style-type: none;
    padding: 10px 5px;
}


.todo-list .todo-list-item {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #4d00b1;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}